.container {
  display: flex;
  position: relative;
  text-align: center;
  margin-top: 60px;
  color: var(--black);
  background-color: var(--white);
  height: calc(93vh); /* adjust to navbar */
}

.leftDisplay {
  flex: 1; /* 1/3 */
  padding: 15px 25px;
}

.rightDisplay {
  flex: 2; /* 2/3 */
}

.separator {
  width: 1px;
  background-color: var(--black);
  height: 100%;
}
