.nav {
  background-color: #242424;
  color: var(--white);
  padding: 15px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 1px #2b2b2b; /* Bottom white line */
}

.navList,
.navListRight {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navListRight {
  margin-left: auto;
}

.nav li {
  margin-right: 20px;
}

.nav .link {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

.navList .link {
  color: var(--blue);
}

.nav .link:hover {
  text-decoration: underline;
}
